@media (min-width: 480px) {
  .slick-slide {
    padding-left: 30px;
  }
}
@media (min-width: 480px) {
  .slick-slide {
    padding-left: 20px;
  }
}
.slick-slide {
  border-radius: 1rem;
}
.slick-slider {
  min-height: fit-content;
}
