.navbar .menu li a.active {
  background-color: transparent !important;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ff4605 !important;
  transition: all 0.5s;
}
.navbar-center .menu li:focus-visible {
  border: none !important;
  outline: 0;
}
.navbar-center .menu li a {
  background-color: transparent !important;
}
.navbar-center .menu li a:hover {
  color: #ff4605 !important;
}
.navbar .menu li a:focus-visible {
  outline: 0;
}
.navbar .menu li:hover {
  color: #ff4605 !important;
  transition: all 0.6s;
}
.navbar .menu li a.active:hover {
  color: #ff4605 !important;
}
